body{
    padding: 0;
    margin: 0;
}
.header{
    background-image: linear-gradient(to right, rgba(238, 214, 137, .85) 0%, rgba(232, 130, 130, .85) 100%), url(img/header.jpg);
    background-size: cover;
    height: 100vh;
    
}

.wrapper{
   margin: 0px 360px;
}

.navigation__items{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.item__link{
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
}

.list__item{
    list-style: none;
}


.navigation{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}