*{
    padding: 0;
    margin: 0;
    font-family: 'Fahkwang', sans-serif;
}


/* header zone */
.header{
    background-image: linear-gradient(to right, rgba(238, 214, 137, .85) 0%, rgba(232, 130, 130, .85) 100%), url(img/header.jpg);
    background-size: cover;
    height: 100vh;
    
}

.wrapper{
   margin: 0px 360px;
   text-align: center;
}

.navigation__items{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.item__link{
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
}

.list__item{
    list-style: none;
    padding: 2px 15px;
    font-size: 14px;
}


.navigation{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:baseline;

}

p.logo{
    font-size: 30px;
    font-weight: bold;
    color:white;
}

.active__link{
    border-bottom: 6px solid yellow;
    color: yellow;
    padding-bottom: 5px;
}



.promo{
    text-align: center;
    color: white;
    padding-top: 60px;

}


.btn{
    border: 2px solid wheat;
    border-radius: 33px;
    padding: 5px 35px;
}
.btn:hover{
    background-color:orange;
    color:black;
}

h1{
    font-size: 72px;
}

.welcome{
    font-size: 110px;
    text-transform: uppercase;
    padding: 50px 0px 80px 0px;
}

/* about section */
.about{
    background-color:wheat;
    height: 80vh;
}


.about__cards{
    display:flex;
    flex-flow: row wrap;
    margin: 50px 0px;
    justify-content: space-between;
  
}
.about__cards>img{
    height: 170px;
    width: 300px;
    overflow: hidden;
}

.swadow{
    box-shadow: 7px 7px 3px rgba(0,0,0,0.8);
}

.about_inf{
    display:flex;
    font-family: row wrap;
    justify-content: space-between;
       
}


/* nembers section */
.numbers__section{
    height: 20vh;
    background-color: rgba(30,200,130, 0.4);
    

}

.inf__cards{
    color: #000;
}